*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    background:skyblue;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* Score borad  */
.score-board{
    width:100%;
    margin-bottom:30px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.score-board > ul{
    list-style:none;    
    float: left;
    padding:35px 0;
}

.score-board > ul > li{
    display:inline-block;
    margin:0 40px;
}

.btn{
    padding:5px 40px;
    font-size:16px;
    text-transform:capitalize;
    background:rgb(72, 125, 169);
    color:beige;
    border:none;
    outline:none;
    border-radius: 4px;
    cursor:pointer;
}

/* Borders  */
.board{
    margin:40px 0;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:2px;
}

.b-top{
    border-top: 4px solid #fff;
}

.b-right{
    border-right: 4px solid #fff;
}

.b-bottom{
    border-bottom: 4px solid #fff;
}

.b-left{
    border-left: 4px solid #fff;
}

/* Cells */
.board > span{
    display:grid;
    place-content: center;
    height:100px;
    width:100px;
    color:#fff;
    font-size:50px;
    cursor:pointer;
}

/* Buttons  */

/* messages */
#message-box{
    width:500px;
    position:absolute;
    background-color: #fff;
    top:20%;
}

.messages{
    height:350px;
    margin:10px;
    padding:30px;
    display:grid;
    place-items: center;
    border:3px solid coral;
    background:#fff;
    color:coral;
    font-size:40px;
}