*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    background:skyblue;
}

.wrapper{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.board{
    margin:40px 0;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:2px;
}

/* Borders  */
.b-top{
    border-top: 4px solid #fff;
}

.b-right{
    border-right: 4px solid #fff;
}

.b-bottom{
    border-bottom: 4px solid #fff;
}

.b-left{
    border-left: 4px solid #fff;
}

/* Cells */
span{
    display:grid;
    place-content: center;
    height:100px;
    width:100px;
    color:#fff;
    font-size:50px;
    cursor:pointer;
}

/* Buttons  */
.btn{
    margin:40px 0;
    padding:10px 40px;
    font-size:24px;
}

/* messages */
.messages{
    margin:10px;
    padding:20px;
    display:grid;
    place-items: center;
    border:3px solid coral;
    background:#fff;
    color:coral;
    font-size:40px;
}